<section class="section">
  <div class="container is-fixed-top">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">Players</h1>
        </div>
      </div>
      <div class="level-item">
        <div class="level tools">
          <p class="level-item tool-label">
            <strong>FILTER</strong>
          </p>
          <div class="level-item">
            <div class="buttons has-addons">
              <a class="button {{filterClass('ALL')}}" (click)="applyFilter('ALL')">ALL</a>
              <a class="button {{filterClass('GKP')}}" (click)="applyFilter('GKP')">GKP</a>
              <a class="button {{filterClass('DEF')}}" (click)="applyFilter('DEF')">DEF</a>
              <a class="button {{filterClass('MID')}}" (click)="applyFilter('MID')">MID</a>
              <a class="button {{filterClass('FWD')}}" (click)="applyFilter('FWD')">FWD</a>
            </div>
          </div>
          <p class="level-item tool-label">
            <strong>SORT</strong>
          </p>
          <div class="level-item">
            <div class="buttons has-addons">
              <a class="button {{sortClass('POINTS')}}" (click)="toggleSort('POINTS')">POINTS</a>
              <a class="button {{sortClass('MINS')}}" (click)="toggleSort('MINS')">MINS</a>
              <a class="button {{sortClass('PP90')}}" (click)="toggleSort('PP90')">PP90</a>
              <a class="button {{sortClass('PP£')}}" (click)="toggleSort('PP£')">PP£</a>
              <a class="button {{sortClass('PRICE')}}" (click)="toggleSort('PRICE')">PRICE</a>
            </div>
          </div>
          <p class="level-item tool-label">
            <strong>MAX PRICE</strong>
          </p>
          <div class="level-item">
            <input type="text" class="input is-rounded price has-text-centered" [(ngModel)]="maxPrice">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container is-fluid">
    <div class="box {{teamClass(player)}}" *ngFor="let player of filteredPlayers">
      <div class="level">
        <div class="level-left">
          <div class="level-item team-code">
            <strong>{{teamCode(player)}}</strong>
          </div>
          <div class="level-item is-size-5">
            <strong>{{player.firstName}} {{player.lastName}}</strong> <span *ngIf="player.dreamteam" class="icon dreamteam-star has-text-link"><i
                class="fas fa-star"></i></span>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="tags has-addons">
              <div class="tag is-large">POINTS</div>
              <span class="tag is-large {{pointsHeat(player)}} points">{{player.points}}</span>
            </div>
          </div>
          <div class="level-item">
            <div class="tags has-addons">
              <div class="tag is-large">AVG MINS</div>
              <div class="tag is-large {{minutesHeat(player)}} minutes">{{player.averageMinutes | number:'1.0-1'}}</div>
            </div>
          </div>
          <div class="level-item">
            <div class="tags has-addons">
              <div class="tag is-large">PP90</div>
              <div class="tag is-large {{pp90Heat(player)}} pp90">{{isNaN(player.pointsPer90) ? "N/A" :
                player.pointsPer90 | number:'1.0-1'}}</div>
            </div>
          </div>
          <div class="level-item">
            <div class="tags has-addons">
              <div class="tag is-large">PRICE</div>
              <span class="tag is-large {{priceHeat(player)}} price">{{playerPrice(player)}}</span>
            </div>
          </div>
          <div class="level-item">
            <div class="tags has-addons">
              <div class="tag is-large">PP£</div>
              <span class="tag is-large {{ppMilHeat(player)}} ppmil">{{player.pointsPerMillion | number:'1.0-1'}}</span>
            </div>
          </div>
          <div class="level-item">
            <span class="tag is-large position {{positionClass(player)}}">{{player.position}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
