@import "theme";

$position-base: $brand-purple;

$goalkeeper-color: lighten($position-base, 40%);
$defender-color: lighten($position-base, 20%);
$midfielder-color: $position-base;
$forward-color: darken($position-base, 20%);
