// AFC Bournemouth

$bournemouth-red: #DA291C;
$bournemouth-dark-red: #B50E12;
$bournemouth-black: black;
$bournemouth-light-gold: #EFDBB2;;
$bournemouth-dark-gold: #A89968;

$bournemouth-primary: $bournemouth-dark-red;
$bournemouth-secondary: $bournemouth-black;

// Arsenal

$arsenal-red: #EF0107;
$arsenal-dark-red: #DB0007;
$arsenal-blue: #063672;
$arsenal-gold: #9C824A;
$arsenal-white: white;

$arsenal-primary: $arsenal-red;
$arsenal-secondary: $arsenal-white;

// Brighton & Hove Albion

$brighton-blue: #0057B8;
$brighton-white: white;
$brighton-yellow: #FFCD00;

$brighton-primary: $brighton-blue;
$brighton-secondary: $brighton-white;

// Burnley

$burnley-burgundy: #6C1D45;
$burnley-light-blue: #99D6EA;
$burnley-yellow: #EDE939;
$burnley-gold: #F0B323;

$burnley-primary: $burnley-burgundy;
$burnley-secondary: $burnley-light-blue;

// Cardiff City

$cardiff-blue: #0070B5;
$cardiff-red: #D11524;
$cardiff-dark-blue: #005995;
$cardiff-dark-red: #A51C22;
$cardiff-light-grey: #F2F2F2;

$cardiff-primary: $cardiff-blue;
$cardiff-secondary: $cardiff-light-grey;

// Chelsea

$chelsea-blue: #034694;
$chelsea-red: #EE242C;
$chelsea-gold: #DBA111;
$chelsea-light-blue: #6A7AB5;
$chelsea-grey: #D1D3D4;
$chelsea-white: white;

$chelsea-primary: $chelsea-blue;
$chelsea-secondary: $chelsea-white;

// Crystal Palace

$palace-blue: #1B458F;
$palace-grey: #A7A5A6;
$palace-red: #C4122E;

$palace-primary: $palace-blue;
$palace-secondary: $palace-grey;

// Everton

$everton-blue: #003399;
$everton-white: white;

$everton-primary: $everton-blue;
$everton-secondary: $everton-white;

// Fulham

$fulham-white: white;
$fulham-black: black;
$fulham-red: #cc0000;

$fulham-primary: $fulham-white;
$fulham-secondary: $fulham-black;

// Huddersfield Town

$huddersfield-blue: #0E63AD;
$huddersfield-white: white;

$huddersfield-primary: $huddersfield-blue;
$huddersfield-secondary: $huddersfield-white;

// Leicester City

$leicester-blue: #003090;
$leicester-gold: #FDBE11;
$leicester-white: white;

$leicester-primary: $leicester-blue;
$leicester-secondary: $leicester-white;

// Liverpool

$liverpool-red: #C8102E;
$liverpool-white: white;
$liverpool-green: #00B2A9;
$liverpool-gold: #F6EB61;

$liverpool-primary: $liverpool-red;
$liverpool-secondary: $liverpool-gold;

// Manchester City

$man-city-sky-blue: #6CABDD;
$man-city-dark-blue: #1C2C5B;
$man-city-gold: #FFC659;
$man-city-dark-gold: #D4A12A;
$man-city-red: #EC3325;

$man-city-primary: $man-city-sky-blue;
$man-city-secondary: $man-city-dark-blue;

// Manchester United

$man-utd-red: #DA291C;
$man-utd-white: white;
$man-utd-yellow: #FBE122;
$man-utd-black: black;

$man-utd-primary: $man-utd-red;
$man-utd-secondary: $man-utd-black;

// Newcastle United

$newcastle-black: #241F20;
$newcastle-white: white;
$newcastle-gold: #F1BE48;
$newcastle-blue: #41B6E6;
$newcastle-grey: #BBBCBC;
$newcastle-red: #F9423A;

$newcastle-primary: $newcastle-black;
$newcastle-secondary: $newcastle-white;

// Southampton

$southampton-red: #D71920;
$southampton-white: white;
$southampton-black: #130C0E;
$southampton-yellow: #FFC20E;
$southampton-blue: #00AEEF;
$southampton-green: #0DB14B;

$southampton-primary: $southampton-red;
$southampton-secondary: $southampton-white;

// Tottenham Hotspur

$spurs-white: white;
$spurs-navy-blue: #132257;

$spurs-primary: $spurs-white;
$spurs-secondary: $spurs-navy-blue;

// Watford

$watford-yellow: #FBEE23;
$watford-red: #ED2127;
$watford-black: #11210C;

$watford-primary: $watford-yellow;
$watford-secondary: $watford-red;

// West Ham United

$west-ham-maroon: #7A263A;
$west-ham-blue: #1BB1E7;
$west-ham-yellow: #F3D459;

$west-ham-primary: $west-ham-maroon;
$west-ham-secondary: $west-ham-blue;

// Wolverhampton Wanderers

$wolves-yellow: #FDB913;
$wolves-black: #231F20;

$wolves-primary: $wolves-yellow;
$wolves-secondary: $wolves-black;
