
@import url('https://fonts.googleapis.com/css?family=Bungee|Lato');

$brand-teal: #1D7874;
$brand-green: #ABFF4F;
$brand-blue: #08BDBD;
$brand-darker-blue: #094D92;
$brand-red: #F21B3F;
$brand-orange: #FF9914;
$brand-yellow: #F3D34A;
$brand-purple: #4C2C72;

$brand-title-font: 'Bungee', cursive;
$brand-font: 'Lato', sans-serif;
