/* You can add global styles to this file, and also import other style files */
@import "initial-variables";

@import "teams";
@import "theme";
@import "positions";

$orange: $brand-orange;
$yellow: $brand-yellow;
$green: $brand-green;
$turquoise: $brand-teal;
$cyan: $brand-blue;
$blue: $brand-darker-blue;
$purple: $brand-purple;
$red: $brand-red;

$family-primary: $brand-font;

@import "bulma";

span {
  &.is-loading {
      position: relative;
      pointer-events: none;
      opacity: 0.5;
      &:after {
          @include loader;
          position: absolute;
          top: calc(50% - 2.5em);
          left: calc(50% - 2.5em);
          width: 5em;
          height: 5em;
          border-width: 0.25em;
      }
  }
}
